@model MICLifePortal.Models.Contact

<h2 class="mt-4">Delete Contact</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Are you sure you want to delete this contact?</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">Name:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-2">National ID:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.NationalID)</dd>

            <dt class="col-sm-2">Contact Type:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ContractorType.SName)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
