@{
    int roleID = 0;
    var role = Context.Session.GetString("role");
    if (role == "Manager")
    {
        roleID = 1;
    }
    else if (role == "Admin")
    {
        roleID = 2;
    }
    else if (role == "User")
    {
        roleID = 3;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MICLifePortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MICLifePortal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MICLifePortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (Context.Session.Keys.Contains("role"))
                        {
                            if (roleID == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registeration" asp-action="Register">Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="RejectedEntities" asp-action="Index">Rejected Entities</a>
                                </li>
                                <li class"nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registeration" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else if (roleID == 2)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="RejectedEntities" asp-action="Index">Rejected Entities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registeration" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else if (roleID == 3)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="RejectedEntities" asp-action="Index">Rejected Entities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registeration" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="RejectedEntities" asp-action="Index">Rejected Entities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registeration" asp-action="Logout">Logout</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - Designed by Eng. Ali Khaled @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
